.hero {
  min-height: 100vh;
  padding-top: 6rem;
  padding-bottom: 6rem;
  width: 100%;
  position: relative;
}

.hero__background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--bg-gradient);
}

.hero__container {
  max-width: 720px;
  margin: 0 auto;
}

.hero__me > h1 {
  font-size: 2.1875rem;
  color: var(--text-white);
  margin-bottom: 2rem;
}

.hero__me > p {
  font-size: 1.25rem;
  line-height: 1.7;
  color: var(--text-white);
}

.hero__social-list {
  display: flex;
  list-style: none;
}

.hero__social-list > li:not(:last-child) {
  margin-right: 0.5rem;
}

.hero__social-btn {
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  width: 2.375rem;
  height: 2.375rem;
  padding: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease;
}

.hero__social-btn:hover {
  box-shadow: 0 7px 14px rgb(50 50 93 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
  transform: translateY(-1px);
}

.hero__twitter-btn {
  color: #fff;
  background-color: #1da1f2;
  border-color: #1da1f2;
}
