.header {
  padding: 2rem;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__brand {
  text-decoration: none;
}

.nav__brand > h2 {
  color: var(--text-white);
  font-size: 2rem;
}

.nav__list {
  display: none;
}

.nav__item {
  list-style: none;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 0.25rem;
}

.nav__item::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--primary);
  margin: auto;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
  transform: scale(0);
}

.nav__item:hover::before {
  transform: scale(10);
}

.nav__link {
  text-decoration: none;
  color: var(--text-white);
}

/* || HERO */
.hero {
  height: 100vh;
  width: 100%;
  position: relative;
}

.hero__background {
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--bg-gradient);
}
