* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: sans-serif;
  font-size: 1rem;
  font-weight: normal;
}

body {
  font-family: "Open Sans", sans-serif;
}

:root {
  --primary: #69508a;
  --text-white: #fff;
  --bg-gradient: linear-gradient(35deg, #69508a, #9b63e5);
}
